<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551857808984-h1odqh85rgoo8phi12bdpt9fvavnsi8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551857808984-h1odqh85rgoo8phi12bdpt9fvavnsi8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-LqPJHq3gMMM0VNBqC66icEsCZt5Fzs</string>
	<key>GCM_SENDER_ID</key>
	<string>551857808984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>robikounter</string>
	<key>STORAGE_BUCKET</key>
	<string>robikounter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551857808984:ios:38832413a0a70e5c520c2d</string>
</dict>
</plist>